# Database Credentials
DB_USER=vgs_api
DB_PASSWORD=localdev_api
DB_NAME=vgs_management
DB_HOST=127.0.0.1
DB_PORT=3306

# Root DB password for docker-compose initialization
DB_ROOT_PASSWORD=localdev_root

# Application Environment (local, production, etc.)
ENVIRONMENT=local
