[importlinter]
root_packages =
    domain
    database
    core

[importlinter:contract:layers]
name = Layer contract
type = layers
layers =
    domain
    database
    core

[importlinter:contract:independence]
name = Independence contract
type = independence
modules =
    domain.day_log
    domain.launch
    domain.operator
    domain.squadron
    domain.winch
ignore_imports =
    domain.operator.repository -> domain.squadron.repository
    domain.winch.repository -> domain.squadron.repository
    domain.operator.test_repository -> domain.squadron.model
    domain.winch.test_repository -> domain.squadron.model
    domain.launch.test_repository -> domain.squadron.model
    domain.launch.test_repository -> domain.winch.model
    domain.winch.router -> domain.day_log.repository
    domain.winch.router -> domain.launch.repository
    domain.winch.router -> domain.operator.repository
    domain.winch.schema -> domain.day_log.schema
    domain.winch.schema -> domain.launch.schema
    domain.winch.schema -> domain.operator.schema
    domain.winch.test_router -> domain.operator.model
    domain.winch.test_router -> domain.launch.model
    domain.winch.test_router -> domain.squadron.model
    domain.winch.test_router -> domain.day_log.model
